---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("./../../header.png");

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

/* Start a reversed counter */
body {
  counter-reset: reversed(pub-counter);
}

/* Style the citation entries */
.csl-entry {
  display: flex !important;
  align-items: flex-start;
  margin-bottom: 15px;
}

.csl-entry::before {
  content: "[" attr(data-num) "]";
  min-width: 35px;
  margin-right: 12px;
  text-align: right;
  flex-shrink: 0;
}
