---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("./../../header.png");

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}


  .btn {
    color: #000;
    border-color: #000; 
    background-color: #fff;
  } 

  .btn:hover {
    color: #000;
    text-decoration: none;
    border-color: #000;
    background-color: #7c940ea1;
  }
